
<div class="row polvo_row">
  <div class="col-xs-12 col-md-2">
    <div class="dot1 dot"></div>
    <div class="dot2 dot"></div>
    <div class="dot3 dot"></div>
  </div>

  <%= form_tag("/static_pages/thank_you") do %>
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <%= label_tag :email, "email address" %>
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "email" %>
        </div>
        <div class="form-group">
          <%= label_tag :password, "password" %>
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "password" %>
        </div>
        <div class="send_button">
          <%= submit_tag "login" %>
        </div>
      </div>
  <% end %>

  <div class="col-xs-12 col-md-6">
    <div class="dot4 dot"></div>
    <div class="dot5 dot"></div>
    <div class="dot6 dot"></div>
    <div class="dot7 dot"></div>
  </div>
</div>
 

