<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

<div class="container">   <!-- products lisnitngs-->

      <div class="row">
          <div class="col-md-4 col-xs-12">
            
              <img class="img-responsive" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447>
              <img class="img-responsive" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447> 
              <img class="img-responsive" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447>                        
         </div> <!--col-md-4 col-xs-12-->
          
          <div class="col-md-4 col-xs-12">
            
              <img class="img-responsive" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447>
              <img class="img-responsive" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447> 
              <img class="img-responsive" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447>                        
         </div> <!--col-md-4 col-xs-12-->

          <div class="col-md-4 col-xs-12">
            
              <img class="img-responsive" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447>
              <img class="img-responsive" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447> 
              <img class="img-responsive" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447>                        
         </div> <!--col-md-4 col-xs-12-->

</div> <!--end row>









