<p id="notice"><%= notice %></p>

<h1>Products</h1>


<br>

<%= link_to 'New Product', new_product_path %>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-md-4">
      <%= image_tag(product.image_url, class: "img-responsive img-products") if product.image_url %>
        <h1 class="product-details"><%=product.name %></h1>
        <h2 class="product-details"><%=product.description %></h2>
        <p2 class="product-details"><%=product.color %></p2>
        <strong class="product-price">'price: $'<%=product.price %></strong>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div><!-- /col -->
    <% end %>
  </div>
</div>

          


</div> <!--end row-->


<!--<img class="img-responsive img-products" src=http://cdn.shopify.com/s/files/1/0597/1765/products/Hawaiian_Hawaiian_1_cluster_web_1024x1024_v2_59be63d6-7a0b-4649-8464-f568cea271d5_1024x1024.jpg?v=1423096447>-->                        






