<!DOCTYPE html>
<html>
  <head>
      <title>shareyoursurf</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  
  
 
  </head>

  <body>
  <nav>
	<ul class= "menu-nav">
		<li><a>career</a></li>
		<li><a>media</a></li>
		<li><a>concept</a></li>
		<li><a>members</a></li>
	</ul>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">   <!--nav container--> 
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">
            <%= image_tag("polvo-logo.png", class:"logo_button") %>
          </a>

        </div> <!--end navbar header-->  
        <div class="navbar-collapse collapse pull-left" id="navbar-collapse-1">
          <ul class="nav navbar-nav large-screen">
          	<li><%= link_to "home", '/' %></li>  
            <li><%= link_to "about", '/static_pages/about' %></li>
            <li><%= link_to "contact", '/static_pages/contact' %></li>  
            <li><%= link_to "products", '/products' %></li>                    
          </ul>
        </div> <!--navbar nav-->
      </div> <!--end nav container--> 
    </nav> <!--end nav class-->

<%= yield %>
<footer class="footer">   
  <h1> &copy; 2017 Surfshare </h1>
</footer>
    
  </body>
</html>
